@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800);

.pricing1 .font-weight-medium {
  font-weight: 500;
}
.font-weight-bold{
    font-weight: 600;
}
.pricing1 .bg-light {
  background-color: #f4f8fa !important;
}
.list-inline li{
    font-weight: 500;
    color: #3a3a3a;
}
.pricing1 .subtitle {
  color: #8d97ad;
  line-height: 24px;
  font-size: 14px;
}

.pricing1 .font-14 {
  font-size: 14px;
}

.pricing1 h5 {
    line-height: 22px;
    font-size: 30px;
}

.pricing1 .card.card-shadow {
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.pricing1 .on-hover {
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.card-active .card-body{
    border: 2px solid #6A4FFA;
}
.pricing1 .on-hover:hover {
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -webkit-font-smoothing: antialiased;
}
.btn-outline-violet{
    background-color: #fff;
    border: 1px solid #6A4FFA;;
}
.btn-outline-violet span{
    color: #6A4FFA;
}
.btn-outline-violet:hover{
    background-color: #6A4FFA;
}
.btn-outline-violet:hover span{
    color: #fff;
}
.btn-success-violet{
    background-color: #6A4FFA;
    border: 1px solid #fff;
}
.btn-success-violet span{
    color: #fff;
}
.btn-success-violet:hover{
    background-color: #fff;
    border: 1px solid #6A4FFA;
    transform: scale(1.05, 1.05);
}
.btn-success-violet:hover span{
    color: #6A4FFA;
}
.pricing1 .btn-md {
  padding: 15px 30px;
  font-size: 16px;
}
.pricing1 .onoffswitch {
  width: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin: 0 auto;
}
.pricing1 .onoffswitch-label {
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 20px;
}

.pricing1 .onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

.pricing1 .onoffswitch-inner::before,
.pricing1 .onoffswitch-inner::after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.pricing1 .onoffswitch-inner::before {
  content: "";
  padding-right: 27px;
  background-color: #6A4FFA;
  color: #FFFFFF;
}

.pricing1 .onoffswitch-inner::after {
  content: "";
  padding-right: 24px;
  background-color: #3e4555;
  color: #999999;
  text-align: right;
}

.pricing1 .onoffswitch-switch {
  width: 23px;
  margin: 6px;
  height: 23px;
  top: -1px;
  bottom: 0;
  right: 35px;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.pricing1 .onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.pricing1 .onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.pricing1 .price-badge {
  top: -13px;
  left: 0;
  right: 0;
  width: 200px;
  margin: 0 auto;
}

.pricing1 .badge-inverse {
  background-color: #6A4FFA;
}

.pricing1 .display-5 {
  font-size: 3rem;
    color: #6A4FFA;
}

.pricing1 .pricing sup {
  font-size: 18px;
  top: -20px;
}

.pricing1 .pricing .yearly {
  display: none;
}
.font-violet{
    color: #6A4FFA !important;
}
.icon{
    width: 30px;
    height: 30px;
}

@media (max-width: 1024px){
    .container-card{
        width: 100%;
    }
}